header { grid-area: 1 / 1 / 2 / 4; }
nav { grid-area: 2 / 1 / 5 / 1 ; }
aside { grid-area: 2 / 3 / 5 / 4; }
.greeting { grid-area: 2 / 2 / 3 / 3; }
.recomendations { grid-area: 3 / 2 / 4 / 3; }
.popular { grid-area: 4 / 2 / 5 / 3; }
